@{
    ViewBag.Title = "Log In";
    Layout = "_AdminLayout";
}

<div class="bg-danger mb-1 p-2 text-white"><h5>Sorry, access denied!</h5></div>

<div class="bg-danger mb-1 p-2 text-white">
    <h6>
        This user does not have authorization to access this page.
        Log out and then log in again with an authorized user.
    </h6>
</div>
